Нашей компании нужно сгруппировать клиентов для АБ-тестов. Алгоритм группировки очень простой - взять ID клиента (состоит из 5-7 цифр, например 7412567) и найти сумму всех его цифр. Получившееся число и является номером группы, в которую входит данный клиент.

Для того, чтобы понять, насколько хорош такой простой алгоритм, тебе нужно написать следующие диагностические функции:
 1. Функция, которая подсчитывает число покупателей, попадающих в каждую группу, если нумерация ID сквозная и начинается с 0. На вход функция получает целое число n_customers (количество клиентов).
 2. Функция, аналогичная первой, если ID начинается с произвольного числа. На вход функция получает целые числа: n_customers (количество клиентов) и n_first_id (первый ID в последовательности).

In [2]:
import pandas as pd
import numpy as np

In [3]:
def sum_numeric(number):
    sum = 0
    while number > 0:
        digit = number % 10
        sum = sum + digit
        number = number // 10
    return sum

Первая функция с названием **first_one**

In [4]:
def first_one(n_customers):
    df = pd.DataFrame(np.random.randint(low = 10000, high = 10000000,size = (n_customers, 1)), columns=["id"])
    df['group_id'] = df['id'].apply(sum_numeric)
    return df.groupby(by = 'group_id').agg('count').sort_values(by = 'group_id', ascending=False).rename(columns={'id':'count'})

In [5]:
data_1 = first_one(50)

In [6]:
data_1.head(10)

          count
group_id
48            1
46            2
45            1
43            2
41            1
40            1
39            1
37            2
36            4
34            2

Вторая функция с названием **first_one**

In [7]:
def second_one(n_customers,n_first_id):
    df = pd.DataFrame(np.random.randint(low = n_first_id, high = 10000000,size = (n_customers, 1)), columns=["id"])
    df['group_id'] = df['id'].apply(sum_numeric)
    return df.groupby(by = 'group_id').agg('count').sort_values(by = 'group_id', ascending=False).rename(columns={'id':'count'})

In [8]:
data_2 = second_one(100,7412567)

In [9]:
data_2.head()

          count
group_id
50            1
49            1
47            3
46            1
45            2